ul {
 list-style-type: none;
 padding: 1px;
 overflow: hidden;
 background-color: #6d7a85;
 font-family: "Lucida Console", Courier, monospace;
 font-size: 65%;
 font-weight: bold;
}

li {
 float: left;
 border-right: 1px solid grey;
}

/* Add a border to all( but not the last) list items */
li:last-child {
 border-right: none;
}

li a {
 display: block;
 color: white;
 text-align: left;
 padding: 15px 17px;
 text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
 background-color: #b88c8c;
}

.active {
 background-color: #b88c8c;
}

/* Font */
h1 {
  text-align: center;
  color: #b88c8c;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 230%;
  line-height: 0.5;
  padding-top: 1%
}

h2 {
  text-align: center;
  color: #b88c8c;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 150%;
}

p {
  text-align: center;
  color: #b88c8c;
  font-family: "Lucida Console", Courier, monospace;
  font-size: 80%;
}

/* Center */
.container {
  height: 100px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
